$abutto-light: #e8f5ff;
$abutto-fairest: #edf3fb;
$abutto-dark: #000000;
$abutto-blue: #3750b2;
$abutto-white: #ffffff;
$abutto-milk: #f1f1f1;
$abutto--hover-blue: rgba(55, 80, 178, 0.4);

$cident-light: #e8f5ff;
$cident-dark: #222222;
$cident-black: #000000;
$cident-white: #ffffff;
$cident-yellow: #ffc809;
$cident-yellow2: #99834d;
$cident-ash: #777777;

// font family
$Montserrat-font: "Montserrat", sans-serif;
$Roboto-font: "Roboto", sans-serif;
$Kaushan-font: "Kaushan Script", cursive;
$Nunito-font: "Nunito", sans-serif;
$PT-Sans-font: "PT Sans", sans-serif;
$Poppins-font: "Poppins", sans-serif;
$IBM-Plex-Sans-font: "IBM Plex Sans", sans-serif;
$Marck-Script-font: "Marck Script", cursive;
$Josefin-Sans-font: "Josefin Sans", sans-serif;

$box-shadow-color1: rgba(0, 0, 0, 0.25);
$box-shadow-color2: rgba(55, 80, 178, 0.4);
